In [2]:
import csv
import os
import pandas as pd

baseline_filepath = "ea1141_baseline_demog_derived_ birth-year-removed.csv"

baseline_df = pd.read_csv(baseline_filepath)

baseline_df.head()

,ENROLLING_IN_DE,CURRENT_IN_DE,RANDOM_DATE_YYYY,RANDOM_DATE_DAYS,DOB_DAYS,ARM,AGE,SEX,RACE,ETHNICITY,...,GENETIC_OTHER_SPECIFY,FAM_HISTORY_BC,FAM_HISTORY_OC,PRIOR_HORMONEUSE,PRIOR_HORMONEUSE_1,PRIOR_HORMONEUSE_2,PRIOR_HORMONEUSE_3,PRIOR_HORMONEUSE_4,PRIOR_HORMONE_NUM,SUBJECT_DE
0,72FC1C8A,72FC1C8A,2017,0,-20478,1,56,1,5,2,...,.N,0,0,1,birth control pills,estrogen replacement therapy,.N,.N,2,2922
1,A7A3CBF0,A7A3CBF0,2017,0,-20672,2,56,1,5,2,...,.N,0,0,1,birth control pills,.N,.N,.N,1,24530
2,72FC1C8A,72FC1C8A,2017,0,-21055,1,57,1,5,2,...,.N,1,0,0,.N,.N,.N,.N,0,55074
3,E93E9C9A,E93E9C9A,2017,0,-20247,2,55,1,5,2,...,.N,1,0,M,.M,.M,.M,.M,M,64074
4,1B8DD944,1B8DD944,2017,0,-22339,2,61,1,5,2,...,.N,1,0,0,.N,.N,.N,.N,0,67998

In [3]:
clean_baseline_df=baseline_df.drop(["ENROLLING_IN_DE", "CURRENT_IN_DE", "RANDOM_DATE_YYYY", "RANDOM_DATE_DAYS", "ARM", "INELIG_REASON", "INSURANCE_FULL", "INSURANCE_COLLAPSE", "PRIOR_HORMONEUSE_1", "PRIOR_HORMONEUSE_2", "PRIOR_HORMONEUSE_3", "PRIOR_HORMONEUSE_4", "DATE_LAST_CLINEXAM_YYYY", "DATE_LAST_CLINEXAM_DAYS", "PRIOR_BENIGN_BIOP", "PRIOR_BENIGN_BIOP_TOT", "PRIOR_BIOP_ADH", "PRIOR_BIOP_ALH", "PRIOR_BIOP_LCIS" ], axis=1)
clean_baseline_df.head()

# Clean for ineligible patients

,DOB_DAYS,AGE,SEX,RACE,ETHNICITY,ELIG,PRIOR_BREAST_DENSITY,AGE_FIRSTMENSTRUAL,LASTMENSTRUAL,NUM_LIVE_BIRTHS,...,GENETIC_HNPCC,GENETIC_PTEN,GENETIC_P53,GENETIC_OTHER,GENETIC_OTHER_SPECIFY,FAM_HISTORY_BC,FAM_HISTORY_OC,PRIOR_HORMONEUSE,PRIOR_HORMONE_NUM,SUBJECT_DE
0,-20478,56,1,5,2,1,3,12,5,2,...,0,0,0,0,.N,0,0,1,2,2922
1,-20672,56,1,5,2,1,3,16,3,3,...,0,0,0,0,.N,0,0,1,1,24530
2,-21055,57,1,5,2,1,3,12,1,3,...,0,0,0,0,.N,1,0,0,0,55074
3,-20247,55,1,5,2,1,3,11,1,2,...,0,0,0,0,.N,1,0,M,M,64074
4,-22339,61,1,5,2,1,3,15,2,0,...,0,0,0,0,.N,1,0,0,0,67998

In [4]:
six_month_filepath = "ea1141_6month_fup.csv"

six_month_df = pd.read_csv(six_month_filepath)

six_month_df.head()

,FUP_6MO,FUP_6MO_REASON,FUP_6MO_STATUS,FUP_6MO_DATE_YYYY,FUP_6MO_DATE_DAYS,FUP_6MO_DATERA_YYYY,FUP_6MO_DATERA_DAYS,FUP_6MO_CANCER,FUP_6MO_CANCERDATE_YYYY,FUP_6MO_CANCERDATE_DAYS,FUP_6MO_CANCERDETECT,FUP_6MO_CANCERBIOPSY,SUBJECT_DE
0,1,N,1,2017,213,2017,213,0,N,N,N,N,2922
1,1,N,1,2017,182,2017,182,0,N,N,N,N,24530
2,3,6,3,N,N,2018,393,0,N,N,N,N,55074
3,3,4,3,N,N,2018,288,0,N,N,N,N,64074
4,1,N,1,2017,163,2017,154,0,N,N,N,N,67998

In [5]:
# Clean for if the patient followed up after 6 months

clean_six_month_df = six_month_df.drop(["FUP_6MO_REASON", "FUP_6MO_DATE_YYYY", "FUP_6MO_DATE_DAYS", "FUP_6MO_DATERA_YYYY", "FUP_6MO_DATERA_DAYS", "FUP_6MO_CANCERBIOPSY"], axis=1)
clean_six_month_df.head()

,FUP_6MO,FUP_6MO_STATUS,FUP_6MO_CANCER,FUP_6MO_CANCERDATE_YYYY,FUP_6MO_CANCERDATE_DAYS,FUP_6MO_CANCERDETECT,SUBJECT_DE
0,1,1,0,N,N,N,2922
1,1,1,0,N,N,N,24530
2,3,3,0,N,N,N,55074
3,3,3,0,N,N,N,64074
4,1,1,0,N,N,N,67998

In [6]:
twelve_month_filepath = "ea1141_12month_fup.csv"
twelve_month_df = pd.read_csv(twelve_month_filepath)
twelve_month_df.head()

,FUP_12MO,FUP_12MO_REASON,FUP_12MO_STATUS,FUP_12MO_DATE_YYYY,FUP_12MO_DATE_DAYS,FUP_12MO_DATERA_YYYY,FUP_12MO_DATERA_DAYS,FUP_12MO_DATELASTRA_YYYY,FUP_12MO_DATELASTRA_DAYS,FUP_12MO_CANCER,...,TOMO_YR1_DATE_YYYY,TOMO_YR1_DATE_DAYS,MRI_YR1,MRI_YR1_REASON,MRI_YR1_REASON_SIMPLE,MRI_YR1_DATE_YYYY,MRI_YR1_DATE_DAYS,YR1_IMAGING,YEAR0_SENSSPEC_REFSTD,SUBJECT_DE
0,1,N,1,2018,360,2018,360,2017,213,0,...,2018,422,1,N,N,2018,422,1.0,0,2922
1,1,N,1,2018,377,2018,377,2017,182,0,...,2018,377,1,N,N,2018,377,1.0,0,24530
2,1,N,1,2018,392,2018,392,2018,392,0,...,2018,423,1,N,N,2018,423,1.0,0,55074
3,1,N,1,2018,376,2018,376,O,O,0,...,2018,376,1,N,N,2018,376,1.0,0,64074
4,1,N,1,2018,318,2018,318,2017,176,0,...,2018,365,1,N,N,2018,365,1.0,0,67998

In [7]:
clean_twelve_month_df = twelve_month_df.drop(["FUP_12MO_REASON", "FUP_12MO_DATE_YYYY", "FUP_12MO_DATE_DAYS", "FUP_12MO_DATERA_YYYY", "FUP_12MO_DATERA_DAYS", "FUP_12MO_DATELASTRA_YYYY", "FUP_12MO_DATELASTRA_DAYS", "FUP_12MO_330DAYS", "FUP_12MO_330DAYSYR0", "TOMO_YR1_DATE_YYYY", "TOMO_YR1_DATE_DAYS", "MRI_YR1_DATE_YYYY", "MRI_YR1_DATE_DAYS"], axis=1)
clean_twelve_month_df.head()

# Clean for removing row

,FUP_12MO,FUP_12MO_STATUS,FUP_12MO_CANCER,FUP_12MO_CANCERDATE_YYYY,FUP_12MO_CANCERDATE_DAYS,FUP_12MO_CANCERDETECT,FUP_12MO_CANCERBIOPSY,TOMO_YR1,TOMO_YR1_REASON,TOMO_YR1_REASON_SIMPLE,MRI_YR1,MRI_YR1_REASON,MRI_YR1_REASON_SIMPLE,YR1_IMAGING,YEAR0_SENSSPEC_REFSTD,SUBJECT_DE
0,1,1,0,N,N,N,N,1,N,N,1,N,N,1.0,0,2922
1,1,1,0,N,N,N,N,1,N,N,1,N,N,1.0,0,24530
2,1,1,0,N,N,N,N,1,N,N,1,N,N,1.0,0,55074
3,1,1,0,N,N,N,N,1,N,N,1,N,N,1.0,0,64074
4,1,1,0,N,N,N,N,1,N,N,1,N,N,1.0,0,67998

In [8]:
risk_model_filepath = "ea1141_bcsc_risk_model.csv"
risk_model_df = pd.read_csv(risk_model_filepath)
risk_model_df.head()

,BCSC_AGE,BCSC_RACEETHN,BCSC_FIRSTDEGREE,BCSC_PBB,BCSC_DENSITY,BCSC_5YEAR,BCSC_10YEAR,BCSC_REASON,BCSC_PRIORHISTORYBC,BCSC_FIRSTDEGREEOVARIAN,SUBJECT_DE
0,56,1,0,2,3,1.6054408579,3.4028961682,N,0,0,2922
1,56,1,0,2,3,1.6054408579,3.4028961682,N,0,0,24530
2,57,1,0,2,3,1.6650002216,3.5024061127,N,0,0,55074
3,55,1,1,2,3,2.3315944418,4.9508877628,N,0,0,64074
4,61,1,1,3,2,2.8749400017,5.8284810188,N,0,0,67998

In [9]:
clean_risk_model_df = risk_model_df.drop(["BCSC_REASON", "BCSC_5YEAR", "BCSC_10YEAR", "BCSC_AGE", "BCSC_RACEETHN", "BCSC_PBB", "BCSC_DENSITY", "BCSC_REASON", "BCSC_PRIORHISTORYBC"], axis=1)
clean_risk_model_df.head()

   BCSC_FIRSTDEGREE  BCSC_FIRSTDEGREEOVARIAN  SUBJECT_DE
0                 0                        0        2922
1                 0                        0       24530
2                 0                        0       55074
3                 1                        0       64074
4                 1                        0       67998

In [10]:
# Merge all of the above datasets and then delete the ineligible patients and the patients that didn't follow up

first_merge_df = pd.merge(clean_baseline_df,clean_six_month_df, how="outer", on=["SUBJECT_DE"])
second_merge_df = pd.merge(first_merge_df, clean_twelve_month_df, how='outer', on=["SUBJECT_DE"])
second_merge_df.head()

final_df = second_merge_df.loc[(second_merge_df["ELIG"] == "1")|(second_merge_df["FUP_6MO"] == "1")|(second_merge_df["FUP_6MO"] == "2")|(second_merge_df["FUP_6MO"] == "3")]
final_df.sample(10)

,DOB_DAYS,AGE,SEX,RACE,ETHNICITY,ELIG,PRIOR_BREAST_DENSITY,AGE_FIRSTMENSTRUAL,LASTMENSTRUAL,NUM_LIVE_BIRTHS,...,FUP_12MO_CANCERDETECT,FUP_12MO_CANCERBIOPSY,TOMO_YR1,TOMO_YR1_REASON,TOMO_YR1_REASON_SIMPLE,MRI_YR1,MRI_YR1_REASON,MRI_YR1_REASON_SIMPLE,YR1_IMAGING,YEAR0_SENSSPEC_REFSTD
128,-19963,54,1,5,2,1,3,15,3,1,...,N,N,1,N,N,1,N,N,1.0,0
351,-20115,55,1,5,2,1,3,18,3,3,...,N,N,1,N,N,0,1,1,0.5,0
323,-19376,53,1,5,2,1,3,16,1,3,...,N,N,1,N,N,1,N,N,1.0,0
370,-20973,57,1,5,2,1,3,13,3,0,...,N,N,1,N,N,1,N,N,1.0,0
69,-17423,47,1,5,2,1,3,12,1,2,...,N,N,1,N,N,1,N,N,1.0,0
335,-16931,46,1,5,1,1,3,12,5,3,...,N,N,1,N,N,1,N,N,1.0,0
363,-20332,55,1,5,2,1,4,18,3,2,...,N,N,1,N,N,1,N,N,1.0,0
366,-17215,47,1,5,2,1,3,11,1,2,...,N,N,1,N,N,1,N,N,1.0,0
417,-16045,43,1,5,2,1,3,14,3,2,...,N,N,1,N,N,1,N,N,1.0,0
193,-19460,53,1,5,2,1,3,13,3,2,...,N,N,1,N,N,1,N,N,1.0,0

In [49]:
# Looking at how the Age, Race and Ethnicity compare to the 6 month and 12 month follow up results

final_df_copy["RACE"] = final_df_copy["RACE"].replace([1,2,3,4,5,6,98,99], ["American Indian/Alaskan Native", "Asian", "Black/African American", "Native Hawaiian/Pacific Islander", "White", "Multiple races reported", "Not reported", "Unknown"])
final_df_copy["ETHNICITY"] = final_df_copy["ETHNICITY"].replace([1,2,98,99], ['Hispanic/Latino', "Not Hispanic/Latino", "Not Reported", "Unknown"])
final_df_copy.sample(20)

sixmo_cancer_race_df = final_df_copy.groupby(final_df_copy["RACE"])["FUP_12MO_CANCER"].unique()
print(sixmo_cancer_race_df)

RACE
American Indian/Alaskan Native         [0]
Asian                                  [0]
Black/African American                 [0]
Multiple races reported                [0]
Native Hawaiian/Pacific Islander       [0]
Not reported                           [0]
Unknown                                [0]
White                               [0, N]
Name: FUP_12MO_CANCER, dtype: object